* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  text-align: center;
  padding: 30px;
}

.heading {
  font-size: 34px;
  margin-bottom: 20px;
  font-family: 'Roboto';
  color: #1e293b;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 22px;
  margin-bottom: 25px;
  list-style-type: none;
}

.lang-button {
  padding: 8px 16px;
  font-size: 16px;
  border-radius: 16px;
  border: 1px solid #db1c48;
  background-color: #fff;
  color: #db1c48;
  cursor: pointer;
}

.lang-button.active {
  background-color: #db1c48;
  color: white;
  border: none;
}

.image-container {
  margin-top: 20px;
}

.greeting-image {
  width: 300px;
  height: auto;
}
